{%extends 'layoutpanel.html.twig'%}
     
{% block body %}
	<div class="header">
	     <div class="container">
	         <div class="row">
	        </div>
	     </div>
	</div>
    {{ parent()}}

    <div class="page-content">
    	<div class="row">
            <div class="col-md-2">
    		  	<div class="sidebar content-box" style="display: block;">
    		  	    <div class="thumbnail">
                        <img src="{{asset('public/pictures/logo.png')}}" alt="..." class="img-rounded">
                    </div>
                    <!--<h3>{#{app.session.get('firstName')}#}</h3>--->
                    <ul class="nav">
                        <!-- Main menu -->
                        <li>
                            <a href="{{path('cleantech_directorio_perfil')}}">
                                <i class="glyphicon glyphicon-home"></i> Inicio
                                <span class="pull-right"></span>
                             </a>
                        </li>
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i> Usuarios
                                <span class="caret pull-right"></span>
                            </a>
                             <!--- Sub menu--->
                            <ul>
                                <li><a href="{{path('cleantech_user_usuarios')}}"><i class="glyphicon glyphicon-list-alt"></i> Usuarios</a></li>
                                <li><a href="{{path('cleantech_user_add')}}"><i class="glyphicon glyphicon-plus"></i> Añadir Usuario</a></li>
                            </ul>
                        </li>
                        
                        <li class="submenu actives">
                            <a href="#">
                                <i class="glyphicon glyphicon-leaf"></i> Empresas
                                <span class="caret pull-right"></span>
                            </a>
                             <!--- Sub menu--->
                            <ul>
                                <li><a href="{{path('cleantech_empresa_empresas')}}"><i class="glyphicon glyphicon-list-alt"></i> Empresas</a></li>
                                <li><a href="{{path('cleantech_empresa_add')}}"><i class="glyphicon glyphicon-plus"></i> Añadir Empresa</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
		  	
		  	<div class="col-md-10">
		  		<div class="row">
					<div class="col-md-12">
						<div class="content-box-large">
			  				<!--<div class="panel-heading">
								<div class="panel-title "><h1><span class="label label-primary">Usuarios</span></h1></div>
							</div>
		  					--->
		  					<div class="panel-body">
		  						<div id="rootwizard">
									<div class="navbar">
										<div class="navbar-inner">
											<ol class="breadcrumb">
												<li><a href="{{path('cleantech_directorio_perfil')}}">Inicio</a></li>
												<li><a href="{{path('cleantech_empresa_empresas')}}">Empresas</a></li>
												<li class="active">Editar Empresa</li>
											</ol>										
										 </div>
									</div>
								
									<div class="tab-content">
									    <div class="tab-pane active">
									    	<div class="panel-heading">
												<div class="panel-title"><i class="glyphicon glyphicon-edit"></i> <strong>Editar empresa </strong> <span class="label label-warning"> {{ empresa.nombre }}</span></div>
											</div>
											<div class="panel-body">
									      		
									      		{{ form_start(form, { 'attr' : {'novalidate' : 'novalidate', 'role' : 'form', 'class': 'form-horizontal'} }) }}
											  		<div class="form-group">
											  			<div class="col-sm-2 control-label">
														    {{form_label(form.nombre) }}
														</div>
														<div class="col-sm-8">
														    {{form_widget(form.nombre, {'attr' : {'class' : 'form-control', 'placeholder' : 'empresa'} }) }}
														<span class="text-danger">{{ form_errors(form.nombre) }}</span>
											    		</div>
											  		</div>
											  
												  	<div class="form-group">
														<div class="col-sm-2 control-label">
															{{form_label(form.rfc) }}
														</div>
														<div class="col-sm-8">
															{{form_widget(form.rfc, {'attr' : {'class' : 'form-control', 'placeholder' : 'RFC'} }) }}
															
														</div>
												
												  	</div>
											  
											  
											  		<div class="form-group">
											  			<div class="col-sm-2 control-label">
											    			{{form_label(form.user) }}
											    		</div>
											    		<div class="col-sm-8">
											    			{{form_widget(form.user, {'attr' : {'class' : 'form-control'} }) }}
											    		</div>
											    		<span class="text-danger">{{ form_errors(form.user) }}</span>
											  		</div>
												  		
											 
											  		<div class="form-group" >
											  			<div class="col-sm-offset-2 col-sm-10">
											  				{{form_widget(form.save, {'label' : 'Editar', 'attr' : {'class' : 'btn btn-primary'} }) }}
											  			</div>
											  		</div>
												{{ form_end(form) }}
											</div>
											<br><br><br>
									    </div>
									</div>	
								</div>
		  					</div>
		  				</div>
					</div>
				</div>
		  	</div>
		</div>
    </div>

    <footer>
        <div class="container">
            <div class="copy text-center">
               CLEANTECH CHALLENGUE <a href='#'>Website</a>
            </div>
        </div>
    </footer>

{% endblock %}