<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <div class="navbar-header">
                          <img src="{{ asset('public/pictures/new.png') }}" style="height:50px; widht: 50px;">
      
                    </div>

                    
                  
                    <li>
                        <form class="navbar-form navbar-left" role="search" method="post" action="{{path('cleantech_perfil_busqueda')}}">
                            <div class="form-group">
                                <input type="text"  name="buscar" class="form-control" placeholder="buscar empresas">
                            </div>
                            <button type="submit" name="send" value="send" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </form> 
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    
                    <li>
                        <a href="{{ path('cleantech_perfil_edit') }}">{{app.user.firstName}} {{app.user.lastName}}</a>
                    </li>
                    
                    <li>
                        <a href="{{path('cleantech_perfil_manual_usuario')}}" data-toggle="tooltip" data-placement="left" title="Manual"><i class="glyphicon glyphicon-book"></i></a>
                    </li>
                    
                    <li>
                        <a href="{{path('cleantech_directorio_logout')}}" data-toggle="tooltip" data-placement="left" title="Cerrar sesión"><i class="glyphicon glyphicon-log-out" ></i></a>
                    </li>
                    
                    
                    
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>