{%extends 'layout.html.twig'%}
     
{% block body %}
    <!-----comienza directorio--->
    <nav id="menu2" class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i><span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="color:white;"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                  <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-brand" href="{{path('cleantech_directorio_index')}}">
                            <i class="fa fa-play-circle"></i>  <span class="light"></span> cleantech
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="" href="{{path('cleantech_directorio_directorio')}}">Directorio</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
	
    <div id="body">
    
            <div class="container">
                <div class="row">
                    <div class="intro-body-1"></div>
                </div>
                    <div class="row">
                    <nav class="navbar navbar-inverse" id="menu2" >
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                
                            </div>
                    
                      
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                
                        <form class="navbar-form navbar-left" role="search" method="post" action="{{path('cleantech_directorio_busqueda_general')}}">
                            <div class="form-group">
                                <input type="text"  name="buscar" class="form-control" placeholder="Buscar empresa">
                            </div>
                            <button type="submit" name="send" value="send" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                        </form>
                                
                          
                          
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estado <span class="caret"></span></a>
                                        <form class="dropdown-menu pre-scrollable" method="post" action="{{path('cleantech_directorio_buscarEstado')}}">
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="as" value="as">Aguascalientes</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="bc" value="bc">Baja California</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="bs" value="bs">Baja California Sur</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cc" value="cc">Campeche</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cs" value="cs">Chiapas</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="ch" value="ch">Chihuahua</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cl" value="cl">Coahuila</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cm" value="cm">Colima</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cdmx" value="cdmx">Ciudad de México</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="dg" value="dg">Durango</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="gt" value="gt">Guanajuato</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="gr" value="gr">Guerrero</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="hg" value="hg">Hidalgo</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="jc" value="jc">Jalisco</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="me" value="me">Estado de México</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="mn" value="mn">Michoacán</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="ms" value="ms">Morelos</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="nt" value="nt">Nayarit</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="nl" value="nl">Nuevo León</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="oc" value="oc">Oaxaca</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="pl" value="pl">Puebla</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="qt" value="qt">Querétaro</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="qr" value="qr">Quintana Roo</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="sp" value="sp">San Luis Potosí</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="sl" value="sl">Sinaloa</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="sr" value="sr">Sonora</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="tc" value="tc">Tabasco</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="ts" value="ts">Tamaulipas</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="tl" value="tl">Tlaxcala</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="vz" value="vz">Veracruz</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="yn" value="yn">Yucatán</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="zs" value="zs">Zacatecas</button></li>
                                        </form>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servicios <span class="caret"></span></a>
                                        <form class="dropdown-menu " method="post" action="{{path('cleantech_directorio_buscarServicio')}}">
                                            
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="indus" value="indus">Industrial</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="dome" value="dome">Doméstico</button></li>
                                        </form>
                                    </li>
                                    
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Indusria <span class="caret"></span></a>
                                        <form class="dropdown-menu " method="post" action="{{path('cleantech_directorio_buscarIndustria')}}">
                                            
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="agri" value="agri">Agricultura</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="capa" value="capa">Captación</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="const" value="const">Construcción</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="consu" value="consu">Consumo masivo</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="ener" value="ener">Energía</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="quim" value="quim">Química</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="trans" value="trans">Transportes</button></li>
                                        </form>
                                    </li>
                                    
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Área Tecnológica<span class="caret"></span></a>
                                        <form class="dropdown-menu " method="post" action="{{path('cleantech_directorio_buscarArea')}}">
                                            
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="ag" value="ag">Agua</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cr" value="cr">Captura y Reducción de Gases</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cm" value="cm">Combustibles</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cs" value="cs">Conservación de Recursos</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="cv" value="cv">Construcción Verde</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="ee" value="ee">Eficiencia Energética</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="ge" value="ge">Generación de Energía</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="mc" value="mc">Materiales y Componentes</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="rs" value="rs">Residuos Sólidos</button></li>
                                            <li><button class="btn btn-block button-general btn-sm" type="submit" name="ti" value="ti">Tecnologías de la Información</button></li>
                                        </form>
                                    </li>
                                    
                                </ul>
                                
                                <ul class="nav navbar-nav navbar-right">
                                    <li>...</li>
                            
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                    </div>
                   
                    <div  class="row">
                        <div class="container">
                            <div class="container-fluid col-xs-10 col-xs-offset-1">
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"> 
                                    <div class="btn-group" role="group" aria-label="First group"> 
                                        <form method="post" action="{{path('cleantech_directorio_buscarLetra')}}">
                                            <button type="submit" name="a" class="btn button-general" value="a">A</button>
                                            <button type="submit" name="b" class="btn button-general" value="b">B</button>
                                            <button type="submit" name="c" class="btn button-general" value="c">C</button>
                                            <button type="submit" name="d" class="btn button-general" value="d">D</button> 
                                            <button type="submit" name="e" class="btn button-general" value="e">E</button> 
                                            <button type="submit" name="f" class="btn button-general" value="f">F</button>  
                                            <button type="submit" name="g" class="btn button-general" value="g">G</button>  
                                            <button type="submit" name="h" class="btn button-general" value="h">H</button>
                                            <button type="submit" name="i" class="btn button-general" value="i">I</button>  
                                            <button type="submit" name="j" class="btn button-general" value="j">J</button>  
                                            <button type="submit" name="k" class="btn button-general" value="k">K</button>  
                                            <button type="submit" name="l" class="btn button-general" value="l">L</button>  
                                            <button type="submit" name="m" class="btn button-general" value="m">M</button>  
                                            <button type="submit" name="n" class="btn button-general" value="n">N</button>  
                                            <button type="submit" name="o" class="btn button-general" value="o">O</button>  
                                            <button type="submit" name="p" class="btn button-general" value="p">P</button> 
                                            <button type="submit" name="q" class="btn button-general" value="q">Q</button>  
                                            <button type="submit" name="r" class="btn button-general" value="r">R</button>  
                                            <button type="submit" name="s" class="btn button-general" value="s">S</button>  
                                            <button type="submit" name="t" class="btn button-general" value="t">T</button>  
                                            <button type="submit" name="u" class="btn button-general" value="u">U</button>  
                                            <button type="submit" name="v" class="btn button-general" value="v">V</button>  
                                            <button type="submit" name="w" class="btn button-general" value="w">W</button>  
                                            <button type="submit" name="x" class="btn button-general" value="x">X</button> 
                                            <button type="submit" name="y" class="btn button-general" value="y">Y</button>  
                                            <button type="submit" name="z" class="btn button-general" value="z">Z</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                                
                                   
                    <hr>
                    <div class="contenido-body">
                        <div id="contenido-menu"  class="col-xs-12 col-xs-offset-1">
                            {% if not pagination|length %}
                                <div class="col-xs-8 col-xs-offset-3" style="color: white;">
                                    <h2>No se encontraron resultados</h2>
                                </div>
                            {% endif %}
                            {% if pagination|length  %}
                            {% for empresa in pagination%}
                            {% if empresa.descripcion != ('') and empresa.telefono != (0) and empresa.estado != ('') and empresa.calle != ('')%}
                            <div class="col-xs-9 col-xs-offset-1">
                                <div class="row">
                                    <div id="contenedor-menu" class="col-lg-12 ">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                
                                                <div class="col-xs-6 col-md-3">
                                                    <div >
                                                          {% if empresa.path == false %}
    															<img class="media-object imagen" src="{{asset('public/pictures/empresanull.png')}}"  class="img-responsive img-little" alt="Responsive image" >
    															{% elseif empresa.path !=false %}
    															<img class="media-object imagen" src="{{ asset('uploads/empresas/'~empresa.path) }}"  class="img-responsive img-little" alt="Responsive image" >
    															{%endif%} 
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                
                                                <div class="col-xs-8">
                                               
                                                <h4 class="media-heading"><strong>{{ empresa.nombre}}</strong></h4>
                                                <div id="truncar" >
                                                {{empresa.descripcion}}
                                                </div>
                                                </div>
                                                <div class="col-lg-12">
                                                <div class="col-xs-3">
                                                    <h5><span class="label label-primary">Telefóno:</span></h5>
                                                    <p>{{empresa.telefono}}</p>
                                                </div>
                                                <div class="col-xs-9">
                                                    <h5><span class="label label-default">Direccion:</span></h5> 
                                                    <p>{{empresa.calle}}, {{empresa.colonia}},</p>
                                                    
                                                </div>
                                                </div>
                                                <div class="col-lg-12">
                                                <div class="col-xs-3"> 
                                                    <p>{{empresa.estado}}</p>
                                                </div>
                                                {%if empresa.facebook != ('')%}
                                                <div class="col-xs-2"> 
                                                    <a href="{{asset(empresa.facebook)}}">
                                                        <img  src="{{asset('public/pictures/face.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px;">
                                                    </a>
                                                </div>
                                                {%endif%}
                                                {%if empresa.facebook != ('')%}
                                                <div class="col-xs-2">
                                                    <a href="{{asset(empresa.twitter)}}"> 
                                                        <img  src="{{asset('public/pictures/twitt.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px;">
                                                    </a href="{{asset(empresa.web)}}">
                                                </div>
                                                {%endif%}
                                                {%if empresa.linkedin != ('')%}
                                                <div class="col-xs-2">
                                                    <a href="{{asset(empresa.linkedin)}}"> 
                                                        <img  src="{{asset('public/pictures/in.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px;">
                                                    </a>
                                                </div>
                                                {%endif%}
                                                {%if empresa.web != ('')%}
                                                <div class="col-xs-2"> 
                                                    <a href="{{asset(empresa.web)}}">
                                                        <img  src="{{asset('public/pictures/web.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px; color:white;">
                                                    </a>
                                                </div>
                                                </div>
                                                {%endif%}
                                                
                                                <div class="col-xs-2 col-xs-offset-4">
                                                    <br/ >
                                                    <button class="btn button-general btn-sm" data-toggle="modal" data-target="#{{empresa.id}}"><i class="glyphicon glyphicon-menu-down"></i> </button>
                                                </div>
                                                
                                               
                                                <!-- Modal -->
                                                <div class="modal fade" id="{{empresa.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content modal-font" id="contenedor-modal">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title text-center text-uppercase" id="myModalLabel">{{ empresa.nombre}}</h4>
                                                            </div>
                                                            <div class="modal-body row">
                                                                
                                                                <div class="col-xs-12 text-center">
                                                                {% if empresa.path == false %}
    															<img class="media-object imagen" src="{{asset('public/pictures/empresanull.png')}}"  class="img-responsive" alt="Responsive image">
    															{% elseif empresa.path !=false %}
    															<img class="media-object imagen" src="{{ asset('uploads/empresas/'~empresa.path) }}"  class="img-responsive" alt="Responsive image">
    															{%endif%}    
                                                                
                                                                
                                                                
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <h4 class="text-uppercase"><label class="label label-default">Descripción</label></h4>
                                                                    <p>{{empresa.descripcion}}</p>
                                                                </div>
                                                                
                                                               
                                                                <div class="col-lg-6">  
                                                                    <h4 class="text-uppercase"><label class="label label-default">Rama Tecnológica</label></h4>
                                                                    <p>{{empresa.ramaTecnologica}}</p>
                                                                </div>
                                                                
                                                                <div class="col-lg-6">
                                                                    <h4 class="text-uppercase"><label class="label label-default">Industria</label></h4>
                                                                    </span></h4><p>{{empresa.industria}}</p>
                                                                
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <h4 class="text-uppercase"><label class="label label-default">Servicio</label></h4>
                                                                    <p>{{empresa.servicio}}</p>
                                                                    
                                                                </div>
                                                                <div class="col-lg-4">
                                                                <h4 class="text-uppercase"><label class="label label-default">contacto</label></h4>
                                                                <p>{{empresa.telefono}}</p>
                                                                </div>
                                                                <div class="col-xs-12">
                                                                
                                                                    <h4 class="text-uppercase"><label class="label label-default">Dirección</label></h4>
                                                                    <p>{{empresa.estado}}, {{empresa.calle}}, {{empresa.colonia}}, C.P. {{empresa.cp}}</p>
                                                                
                                                                </div>
                                                                
                                                                
                                                                <div class="col-lg-12 col-md-offset-2">
                                                                    
                                                                    {%if empresa.facebook != ('')%}
                                                                    <div class="col-xs-2"> 
                                                                        <a href="{{asset(empresa.facebook)}}">
                                                                            <img  src="{{asset('public/pictures/face.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px;">
                                                                        </a>
                                                                    </div>
                                                                    {%endif%}
                                                                    {%if empresa.twitter != ('')%}
                                                                    <div class="col-xs-2">
                                                                        <a href="{{asset(empresa.twitter)}}"> 
                                                                            <img  src="{{asset('public/pictures/twitt.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px;">
                                                                        </a href="{{asset(empresa.web)}}">
                                                                    </div>
                                                                    {%endif%}
                                                                    {%if empresa.linkedin != ('')%}
                                                                    <div class="col-xs-2">
                                                                        <a href="{{asset(empresa.linkedin)}}"> 
                                                                            <img  src="{{asset('public/pictures/in.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px;">
                                                                        </a>
                                                                    </div>
                                                                    {%endif%}
                                                                    {%if empresa.web != ('')%}
                                                                    <div class="col-xs-2"> 
                                                                        <a href="{{asset(empresa.web)}}">
                                                                            <img  src="{{asset('public/pictures/web.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px; color:white;">
                                                                        </a>
                                                                    </div>
                                                                    
                                                                    {%endif%}
                                                                    
                                                                    <br /><br />
                                                                </div>
                                                                <div class="col-lg-12 modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                              
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                               
                                        </div><!--media--->
                                    </div>
                                </div>
                            <hr>
                            </div><!--xs-9-->
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        
                        </div>
                    </div><!--contenido-body-->
                    <div class="navigation">
                        {{knp_pagination_render(pagination)}}
                    </div>
                
            </div><!--container-->
       <!--intro-body-->
	</div>
	
<footer id="footer" class="site-footer fw-footer fw-footer-logo-retina" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/WPFooter">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <!---aqui falta contenido---->
                
                
            </div>
            <div class="col-xs-12 ">
                <!---aqui falta contenido---->
                 <div class="col-xs-4 col-xs-offset-4"> 
                     © Copyright CleanTechChallengeMX
                     <br>
                     
                </div>
                
                <div class="col-lg-12 col-md-offset-1">
                    <br>
                    <div class="col-lg-6">
                       <h4>Contacto</h4>
                        <h5>Telefóno: 442342323</h5>
                        <h5>E-mail: GreenMomentum@askas.com</h5>
                      
                    </div>
                    <div class="col-lg-6">
                        <div class="col-lg-3">
                        <a href='https://www.facebook.com/CleantechMX/' target="_blank" style="color:white;"><img  src="{{asset('public/pictures/face.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px;">#CleantechMX</a>
                        </div>
                        <div class="col-lg-3">
                        <a href='https://twitter.com/CleantechMX?ref_src=twsrc%5Etfw' target="_blank" style="color:white;"><img  src="{{asset('public/pictures/twitt.png')}}"  class="img-responsive" alt="Responsive image" style="height:35px; width:35px;">@CleantechMX</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </footer>
{% endblock %}