{%extends 'layoutpanel.html.twig'%}
     
{% block body %}
	<div class="header">
	     <div class="container">
	         <div class="row">
	        </div>
	     </div>
	</div>
    {{ parent()}}

    <div class="page-content">
    	<div class="row">
            <div class="col-md-2">
    		  	<div class="sidebar content-box" style="display: block;">
    		  	    <div class="thumbnail">
                         <img src="{{asset('public/pictures/cleantechChallenge.png')}}" alt="..." class="img-rounded">
                    </div>
                    <!--<h3>{#{app.session.get('firstName')}#}</h3>--->
                    <ul class="nav">
                        <!-- Main menu -->
                        <li>
                            <a href="{{path('cleantech_directorio_perfil')}}">
                                <i class="glyphicon glyphicon-home"></i> Inicio
                                <span class="pull-right"></span>
                             </a>
                        </li>
                        <li class="submenu actives">
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i> Usuarios
                                <span class="caret pull-right"></span>
                            </a>
                             <!--- Sub menu--->
                            <ul>
                                <li><a href="{{path('cleantech_user_usuarios')}}"><i class="glyphicon glyphicon-list-alt"></i> Usuarios</a></li>
                                <li><a href="{{path('cleantech_user_add')}}"><i class="glyphicon glyphicon-plus"></i> A単adir Usuario</a></li>
                            </ul>
                        </li>
                        
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-leaf"></i> Empresas
                                <span class="caret pull-right"></span>
                            </a>
                             <!--- Sub menu--->
                            <ul>
                                <li><a href="{{path('cleantech_empresa_empresas')}}"><i class="glyphicon glyphicon-list-alt"></i> Empresas</a></li>
                                <li><a href="{{path('cleantech_empresa_add')}}"><i class="glyphicon glyphicon-plus"></i> A単adir Empresa</a></li>
                            </ul>
                        </li>
                        
                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-envelope"></i> Avisos
                                <span class="caret pull-right"></span>
                            </a>
                             <!--- Sub menu--->
                            <ul>
                                <li><a href="{{path('cleantech_mensaje_mensajes')}}"><i class="glyphicon glyphicon-list-alt"></i> Avisos</a></li>
                                <li><a href="{{path('cleantech_mensaje_add')}}"><i class="glyphicon glyphicon-plus"></i> A単adir Aviso</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </div>
			<div class="col-md-10">
		  		<div class="row">
					<div class="col-md-12">
						<div class="content-box-large">
			  				<!--<div class="panel-heading">
								<div class="panel-title "><h1><span class="label label-primary">Usuarios</span></h1></div>
							</div>
		  					--->
		  					<div class="panel-body">
		  						<div id="rootwizard">
									<div class="navbar">
										<div class="navbar-inner">
											<ol class="breadcrumb">
												<li><a href="{{path('cleantech_directorio_perfil')}}">Inicio</a></li>
												<li><a href="{{path('cleantech_user_usuarios')}}">Usuarios</a></li>
												<li class="active">{{ user.firstName }} {{ user.lastName }}</li>
											</ol>										
										 </div>
									</div>
								
									<div class="tab-content">
								    	<div class="tab-pane active">
											<div class="content-box-large">
												<div class="row">
													<div class="col-xs-6 col-md-3">
														<div class="thumbnail">
															{% if user.path == false%}
															<img src="{{ asset('public/pictures/usernull.png') }}">
															{% elseif user.path != false%}
															<img src="{{ asset('uploads/users/'~user.path) }}">
															{%endif%}
														</div>
													</div>
												<!---
								  				<div class="panel-heading">
													<div class="panel-title"><strong><h3>{{user.firstName}} {{user.lastName}}</h3></strong></div>
												</div>--->
								  				<div class="panel-body">
								  					<div class="col-md-7">
											        	<dl>
											        		
											             	
											             	<div class="form-group">
												             	<div class="col-sm-4 control-label">
												                	<dt>Nombres</dt>
												                </div>
												                <div class="col-sm-3">
													                <dd>
													                	{{ user.firstName }}
													                </dd>
												                </div>
											                </div>
											                <br /><br />
											                
											             	<div class="form-group">
												             	<div class="col-sm-4 control-label">
												                	<dt>Apellidos</dt>
												                </div>
												                <div class="col-sm-3">
													                <dd>
													                	{{ user.lastName }}
													                </dd>
												                </div>
											             	</div>
											             	<br /><br />
											                
											             	<div class="form-group">
												             	<div class="col-sm-4 control-label">
												                	<dt>E-mail</dt>
												                </div>
												                <div class="col-sm-3">
													                <dd>
													                	{{ user.email }}
													                </dd>
												                </div>
											                </div>
											                <br /><br />
											                
											             	<div class="form-group">
												             	<div class="col-sm-4 control-label">
												                	<dt>Rol</dt>
												                </div>
												                <div class="col-sm-3">
													                <dd>
													                	{{ user.role }}
													                </dd>
												                </div>
											                </div>
											                <br /><br />
											                
											                <div class="form-group">
												             	<div class="col-sm-4 control-label">
												                	<dt>Creado</dt>
												             	</div>
												                <div class="col-sm-3">
													                <dd>
													                	{{ user.createdAt|date('d-m-Y H:i') }}
													                </dd>
												                </div>
											                </div>
											                <br /><br />
											               
											             	<div class="form-group">
												             	<div class="col-sm-4 control-label">
												                	<dt>Actualizado</dt>
												        		</div>
												                <div class="col-sm-3">
													                <td>
													                	{{ user.updatedAt|date('d-m-Y H:i') }}
													                </dd>
												                </div>
											                </div>
											                <br /><br />
											                
											             	<div class="form-group">
												             	<div class="col-sm-4 control-label">
												                	<dt>Estado</dt>
												                </div>
												                <div class="col-sm-3">
													                <dd>
													                	{% if  user.isActive == 1 %}
															             	<h5><span class="label label-success">Activo</span></h5>
															            {% elseif user.isActive == 0 %}
															                <h5><span class="label label-danger">Inactivo</span></h5>
															        	{% endif %}
													                </dd>
												                </div>
											                </div>
											                <br />
											        	</dl>
													</div>
													
													<div class="col-md-3">
													{% if   user.role == ('ROLE_USER') or session.role == ('ROLE_SUPER_ADMIN') and session.email != user.email%}
														<h5><strong>Acciones</strong></h5>
											        <!--<a href="" >Ver</a>-->
											        
											        	<a href="{{ path('cleantech_user_edit', {id: user.id}) }}" class="btn btn-lg btn-block btn-primary"><i class="glyphicon glyphicon-edit"></i> Editar</a>
											            <p>
											            	{{include('CleantechDirectorioBundle:User:forms/form.html.twig', {form: delete_form, message: '多Estas seguro que deseas eliminar permanentemente este usuario?'} )}}
											            </p>
											        {%endif%}
											    	</div>           	
								  				</div>
								  			</div>
							  			</div>
								    </div>
								</div>	
							</div>
		  				</div>
		  			</div>
				</div>
			</div>
		</div>
	</div>

    <footer>
        <div class="container">
            <div class="copy text-center">
               CLEANTECH CHALLENGUE <a href='#'>Website</a>
            </div>
        </div>
    </footer>

{% endblock %}